.App {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  cursor: none;

  & .webBody {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  #cursor-follow {
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    // border: solid 4px transparent;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    pointer-events: none;
    user-select: none;
    backdrop-filter: invert(100%);
    z-index: 100;
  }
}