.App {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  // text-emphasis-style: black;

  & .navbar {
    border-bottom: solid 5px rgb(189, 189, 189);
    height: 5rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    box-shadow: 0 0 15px black;
    z-index: 1;

    & .logo {
      // border: solid blue;
      display: flex;
      flex-direction: row;
      height: 5rem;

      & canvas {
        // height: 100% !important;
        height: 5rem !important;
        width: 5rem !important;
        display: block;
      }

      & img {
        margin-left: .5rem;
      }
    }

    & .options {
      height: 5rem;
      width: fit-content;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;

      & p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-family: 'Secular One', sans-serif;
        font-size: .8rem;
        padding: 0 .5rem 0 .5rem;
        transition: 300ms;

        & p {
          padding: 0;
          margin: 0;
          height: 0;
          transition: 300ms;
          width: 0;
        }

        &:hover {
          transition: 500ms;

          & p {
            border-bottom: solid rgb(255, 66, 66);
            transition: 300ms;
            width: 100%;
            transform: translateY(5px);
          }

          padding: 0;
          font-size: 1rem;
          padding-bottom: 1rem;
          transform: translateY(-3px);
        }

        &:active {
          transition: 500ms;

          & p {
            border-bottom: solid rgb(255, 66, 66);
            transition: 300ms;
            width: 100%;
            transform: translateY(5px);
          }

          padding: 0;
          font-size: 1rem;
          padding-bottom: 1rem;
          transform: translateY(3px);
        }
      }
    }
  }

  & .webBody {
    height: 100%;
    display: flex;
    flex-direction: column;

    & .hero {
      min-height: 40rem;
      height: fit-content;
      width: 100%;
      background-image: linear-gradient(to left, transparent, white), url("uema.jpg"), ;
      background-repeat: no-repeat;
      display: flex;
      flex-direction: row;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      

      & h1 {
        font-family: 'Wix Madefor Display', sans-serif;
        font-size: 1.4rem;
        line-height: 1.5em;
        margin: 1rem;
        z-index: 1;
        width: 50%;
        height: fit-content;
        padding: 2rem 0 0 1rem;
        text-shadow: 0 0 20px white;

        &::selection {
          color: rgb(255, 255, 255);
          background: rgb(0, 0, 0); 
        }

        @media screen and (max-width: 400px) {
          font-size: .8rem;
        }

        & h1 {
          width: 100%;
          padding: 0;
          margin: 0 0 1rem 0;
          font-weight: bolder;
          font-size: 3rem;
          // text-align: justify;
          text-shadow: 0 0 10px white;

          &::selection {
            color: rgb(255, 255, 255);
            background: rgb(0, 0, 0); 
          }

          @media screen and (max-width: 400px) {
            font-size: 1.8rem;
          }
        }
      }
    }

    & .content {
      border: solid;
    }
  }
}