.App {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;

  & .navbar {
    border: solid green;
    height: 5rem;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    
    & .logo {
      // border: solid blue;
      display: flex;
      flex-direction: row;
      height: 5rem;

      & canvas {
        // height: 100% !important;
        height: 5rem !important;
        width: 5rem !important;
        display: block;
      }

      & img {
        margin-left: .5rem;
      }
    }

    & .options {
      // border: solid cyan;
      height: 5rem;
      width: fit-content;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      
      & p {
        font-family: 'Secular One', sans-serif;
        // font-weight: bolder;
        font-size: 1rem;
        margin-left: .5rem;
        margin-right: .5rem;
        transition: 30ms;

        &:hover {
          border-bottom: solid;
        }
      }
    }
  }
}