@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Wix+Madefor+Display:wght@500&display=swap');


html,
body {
  margin: 0px;
  }
  
  body {

  &::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background: white;
  }

  &::-webkit-scrollbar-thumb {
    background: black;
    // border-radius: 50px;
    border-top: solid 10px tomato;
    border-bottom: solid 10px tomato;
  }
}